:root {
  /** Colors */
  --brush-black-transparent: rgba(52, 65, 75, 0.5);
  --brush-black: rgb(52, 65, 75);
  --brush-blue-dark: rgb(50, 67, 88);
  --brush-blue-light: rgb(173, 203, 221);
  --brush-gray-light: rgb(237, 243, 243);
  --brush-gray-light-transparent: rgba(237, 243, 243, 0);
  --brush-green-dark: rgb(24, 100, 76);
  --brush-green-light: rgb(198, 223, 215);
  --brush-white: rgb(251, 251, 251);
  --brush-yellow-dark: rgb(255, 192, 91);
  --brush-yellow-light: rgb(255, 238, 198);
  --brush-red-dark: rgb(187, 28, 17);
  --brush-red-light: rgb(247, 221, 219);

  --brush-gray: rgb(133, 159, 164);

  /**
  Controls the height of the mobile menu and the shim under the footer
  where the menu lodges if the user scrolls all the way down.
  */
  --height-header-mobile: 50px;

  /**
  Controls the height of the desktop menu and its components
  */
  --height-header-desktop-min: 60px;
  --height-header-desktop-responsive: 10vh;
  --height-header-desktop-max: 100px;

  /**
  Controls the height of mobile footer
    */
  --height-footer-mobile: 150px;

  /**
  Controls the height of the ladies in the footer. 
  This value is also used for the footer reserved space; Pushing the 
  footer below the unscrolled viewport, making the appearance of
  the ladies a surprise to unsuspecting eyes.
  */
  --height-footer-desktop: 200px;

  /** 
  Controls the height of the footer elements other than the sitting
  ladies. Meaning, it sets the height of the square button and the 
  wavy background color. 
  */
  --height-footer-desktop-button: 150px;

  /**
  Creates some spacing between the footer layout and the content
  Think of this as the distance between the end of the content and the
  beginning of the heads of the ladies of the footer.
  */
  --height-footer-spacing: calc(var(--sp) * 7);

  /**
  Shim for footer content that is reserved by the standard layout.
  This is done because there are transparent sections of the footer
  and these sections need to reflect the colors of the page they are on.
  For this, the footer is moved up into the padding of the 
  content section.
  */

  /**
  The value below sets the shim size for the mobile footer. In case you 
  have to set a custom page shim, such as on the home page, use this value
  for the mobile footer shim.
  */
  --height-footer-shim-mobile: calc(
    var(--height-footer-mobile) + var(--height-footer-spacing)
  );

  /**
  Value for footer shim on desktop footer. In case you 
  have to set a custom page shim, such as on the home page, use this value
  for the desktop footer shim.
  */
  --height-footer-shim-desktop: calc(
    var(--height-footer-desktop) + var(--height-footer-spacing)
  );

  /** Spacing unit*/
  --sp: 8px;

  /** left and right padding for the desktop header*/
  --header-desktop-horizontal-padding: 8vw;
}
