:root {
  /** Colors */
  --brush-black-transparent: rgba(52, 65, 75, 0.5);
  --brush-black: rgb(52, 65, 75);
  --brush-blue-dark: rgb(50, 67, 88);
  --brush-blue-light: rgb(173, 203, 221);
  --brush-gray-light: rgb(237, 243, 243);
  --brush-green-dark: rgb(24, 100, 76);
  --brush-green-light: rgb(198, 223, 215);
  --brush-white: rgb(251, 251, 251);
  --brush-yellow-dark: rgb(255, 192, 91);
  --brush-yellow-light: rgb(255, 238, 198);

  --brush-gray: rgb(133, 159, 164);

  /**
  Controls the height of the mobile menu and the shim under the footer
  where the menu lodges if the user scrolls all the way down.
  */
  --height-header-mobile: 50px;

  /**
  Controls the height of the desktop menu and its components
  */
  --height-header-desktop-min: 60px;
  --height-header-desktop-responsive: 10vh;
  --height-header-desktop-max: 100px;

  /**
  Controls the height of mobile footer
    */
  --height-footer-mobile: 150px;

  /**
  Controls the height of the ladies in the footer. 
      Controls the height of the ladies in the footer. 
  Controls the height of the ladies in the footer. 
  This value is also used for the footer reserved space; Pushing the 
  footer below the unscrolled viewport, making the appearance of
  the ladies a surprise to unsuspecting eyes.
  */
  --height-footer-desktop: 200px;

  /** 
  Controls the height of the footer elements other than the sitting
  ladies. Meaning, it sets the height of the square button and the 
  wavy background color. 
      wavy background color. 
  wavy background color. 
  */
  --height-footer-desktop-button: 150px;

  /** Spacing unit*/
  --sp: 8px;
}
