///
/// Styles that help create a layout
///

/** Sets 100% height to consuming node*/
.min-height-100-p {
  min-height: 100%;
  overflow-x: hidden;
}

.grid-area--image {
  grid-area: image;
  width: 100%;
  height: auto;
  .wp-block-cover {
    border-radius: var(--sp);
    width: 100%;
    margin: 0;
    overflow: hidden;
    img {
      width: 100%;
      height: auto;
    }
  }
  // display: none;
}

.grid-area--text {
  grid-area: text;
}
