@import '../abstracts/mixins';
@import '../abstracts/sass-vars';

@import url('https://fonts.googleapis.com/css2?family=Nunito&family=Raleway:wght@500&display=swap');

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Raleway', sans-serif;
}

/**
Other typographies are adjusted according to this block
*/
p,
a,
span,
div,
button,
textarea,
input,
.wp-block-verse {
  font-family: 'Nunito', sans-serif;
  text-decoration: none;
}

button {
  font-family: 'Raleway', sans-serif;
  font-weight: bold;
}

p,
a,
span,
div,
button,
textarea,
input {
  @include breakpoint-min-width(#{$w-xs}) {
    font-size: 1.01em;
  }

  @include breakpoint-min-width(#{$w-xl}) {
    font-size: 1.02em;
  }

  @include breakpoint-min-width(#{$w-xxl}) {
    font-size: 1.035em;
  }
}

.wp-block-quote {
  & p {
    font-style: italic;
  }
}
