@import '../abstracts/mixins';
@import '../abstracts/sass-vars';

.bireysel {
  .adimlar {
    $colors: (
      var(--brush-green-light),
      var(--brush-yellow-light),
      var(--brush-blue-light),
      var(--brush-gray)
    );

    .wp-block-button {
      position: relative;

      /**
      These are set as important because the `nth-of-type` selectors
      below that are used for setting individual colors beat these
      unless we use !important.
      */
      &:hover {
        &:after {
          background-color: var(--brush-green-dark) !important;
        }
      }

      a {
        width: 100%;
        height: 100%;
      }

      /** 
      Creates an arrow pointing to the bottom of the button 
      the color for this component is set in the themes
      */
      &:not(:last-of-type):after {
        pointer-events: none;
        content: '';
        mask: url('../../static/right-arrow.svg');
        mask-image: url('../../static/right-arrow.svg');
        -webkit-mask-image: url('../../static/right-arrow.svg');
        position: absolute;
        left: 50%;
        transform: translate(-50%, 0) rotate(90deg);
        bottom: -20px;
        width: 30px;
        height: 30px;
        z-index: 1;

        /**
          The layout changes at this breakpoint, the buttons become inline.
          Hence, the position of the arrow moves to the right
          */
        @include breakpoint-min-width($w-md) {
          left: auto;
          right: -20px;
          transform: translate(0, -50%);
          bottom: auto;
          top: 50%;
        }
      }
    }
  }
}
