@import '../abstracts/mixins';

article.hizmetlerim {
  .wp-block-column {
    @include frame-rounded-padded;

    background-color: var(--brush-gray-light);
    cursor: pointer;

    a {
      text-decoration: none;
    }

    img {
      height: 50vw;
      width: 100%;
      max-height: 200px;
    }

    p:last-of-type {
      margin-bottom: 0;
    }
  }
}
