@import '../abstracts/mixins';

article.hizmetlerim {
  .wp-block-column {
    @include frame-rounded-padded;
    @include disable-horizontal-padding;

    background-color: var(--brush-gray-light);
    cursor: pointer;

    a {
      @include enable-horizontal-padding;

      text-decoration: none;
    }

    img {
      height: 50vw;
      width: 100%;
      max-height: 200px;
    }

    p {
      @include enable-horizontal-padding;

      &:last-of-type {
        margin-bottom: 0;
      }
    }
  }
}
