/**
Draws oval area for the components
*/
@mixin frame-rounded-padded {
  padding: var(--sp);
  border-radius: var(--sp);

  @media screen and (min-width: 800px) {
    padding: calc(var(--sp) * 2);
  }
}

/**
Draws oval area for the components, this variant produces a
thinner vertical cross section. Good for objects such as buttons
*/
@mixin frame-rounded-padded-thin {
  padding: var(--sp);
  border-radius: var(--sp);

  @media screen and (min-width: 800px) {
    padding: var(--sp) calc(var(--sp) * 2);
  }
}

/**
makes the content edge to edge on mobile.
Width returns to 100% on bigger screns
*/
@mixin edge-to-edge {
  margin-left: calc(var(--sp) * -1);
  width: 100vw;

  @media screen and (min-width: 800px) {
    margin-left: 0;
    width: 100%;
  }
}

/**
Adds a standardized margin at the bottom of the 
consuming blocks;
*/
@mixin block-margin-bottom {
  margin-bottom: var(--sp);
}

/**
Creates the same footer shim padding that is created by the 
Standard.layout. This mixin is a must for pages that cannot use
the standard footer shim logic from the Standard.layout component
*/
@mixin footer-shim {
  padding-bottom: var(--height-footer-shim-mobile);

  @media screen and (min-width: #{$desktop-breakpoint}) {
    padding-bottom: var(--height-footer-shim-desktop);
  }
}

/**
Top of sections usually have curves on the left and right. This
mixin creates these curved edges for the home page sections

It's used for most sections and the second column in the hero section
*/
@mixin section-top-decoration {
  &:before {
    content: '';
    left: 0;
    right: 0;
    top: calc(var(--sp) * -1);
    height: calc(var(--sp) * 2);
    border-radius: var(--sp);
    position: absolute;
  }
}

/**
Home page sections have small pieces of art on their bottom padding
This mixin creates a standardized method for placing and sizing the
art.
*/
@mixin section-art($url) {
  &:after {
    content: '';
    position: absolute;
    left: var(--sp);
    right: var(--sp);
    bottom: var(--sp);
    height: calc(#{$section-end-margin} - var(--sp) * 2);
    background: url($url);
    background-size: contain;
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: bottom;
  }
}

/**
Disables left and right paddings
*/
@mixin disable-horizontal-padding {
  padding-left: 0;
  padding-right: 0;
}

/**
Adds right and left padding with the standardized spacing --sp
*/
@mixin enable-horizontal-padding {
  padding-left: var(--sp);
  padding-right: var(--sp);
}
