body {
  background-color: var(--brush-white);
}

p,
span,
div,
button {
  color: var(--brush-blue-dark);
}

a {
  color: var(--brush-blue-dark);
  text-decoration: underline;
  text-decoration-thickness: 3px;
}

.wp-block-button {
  background-color: var(--brush-yellow-dark);
  border-color: var(--brush-yellow-dark);

  &.is-style-outline {
    border-color: var(--brush-yellow-dark);
    background-color: transparent;
  }

  &:hover {
    background-color: var(--brush-green-dark);
    border-color: var(--brush-green-dark);
    & a {
      color: var(--brush-white);
    }
  }
}

.wp-block-code {
  background-color: var(--brush-gray-light);
}

.wp-block-cover {
  &__inner-container {
    & p {
      color: var(--brush-white);
    }
  }
}

.wp-block-gallery {
  li {
    figure {
      figcaption {
        color: white;
      }
    }
  }
}

.wp-block-pullquote {
  & blockquote {
    background-color: var(--brush-gray-light);
  }
}

.wp-block-quote {
  background-color: var(--brush-gray-light);
}

.wp-block-separator {
  border-top: 1px solid var(--brush-blue-light);
}

.wp-block-table {
  table {
    tr:nth-of-type(2n) {
      background-color: var(--brush-gray-light);
    }

    tr:hover {
      background-color: var(--brush-blue-light);
    }
  }
}

/**
Layout - Home
*/
.home-section {
  &__hero {
    $bg-color: var(--brush-white);

    .grid-area--text {
      background-color: #{$bg-color};

      &::before {
        background-color: #{$bg-color};
      }
    }
  }

  &__hello {
    $bg-color: var(--brush-blue-light);

    background-color: #{$bg-color};

    &:before {
      background-color: #{$bg-color};
    }
  }

  &__how-can-i-help {
    $bg-color: var(--brush-green-light);

    background-color: #{$bg-color};

    &:before {
      background-color: #{$bg-color};
    }
  }

  &__testimonials {
    $bg-color: var(--brush-white);

    background-color: #{$bg-color};

    &:before {
      background-color: #{$bg-color};
    }
  }

  &__shares {
    $bg-color: var(--brush-yellow-light);

    background-color: #{$bg-color};

    &:before {
      background-color: #{$bg-color};
    }
  }

  &__contact {
    $bg-color: var(--brush-green-light);
    background-color: #{$bg-color};

    &:before {
      background-color: #{$bg-color};
    }

    .wpcf7 {
      &-form-control {
        background-color: var(--brush-white);
        border-color: var(--brush-white);

        color: var(--brush-black);

        &:hover {
          background-color: var(--brush-yellow-light);
          border-color: var(--brush-yellow-light);
        }
      }

      &-submit {
        background-color: var(--brush-yellow-dark);
        border-color: var(--brush-yellow-dark);
      }
    }
  }
}

/**
Mobile sized desktop menu-container scrollbar
*/
.mobile-menu-container {
  &__content-wrapper {
    &::-webkit-scrollbar {
      &-track {
        background: transparent;
      }

      &-thumb {
        background: #{$scrollbar-color};
      }
    }
  }
}
