/**
This tag is extensively used by wp blocks. 

Before altering anything, make sure that you are aware of checking all 
the blocks listed below:

gallery
media-text
embed blocks such as youtube
table
image
pullquote

The same goes for figcaption tag
*/
figure {
  padding: 0;
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0;
  margin-inline-end: 0;
}
